@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@layer base {
	html {
		font-family: 'Tenor Sans', system-ui, sans-serif;
	}
}

input {
	@apply border-2 border-neutral-300 rounded-md p-1;
}

input:focus {
	@apply border-black;
}

.btn-primary {
	@apply bg-black text-white inline-flex gap-1 px-4 py-2 rounded-md justify-center;
}

.table-basic thead {
	@apply font-semibold text-center;
}

.table-basic tr td {
	@apply border-2 border-neutral-300 p-1;
}
