@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@layer base {
	html {
		font-family: 'Tenor Sans', system-ui, sans-serif;
	}
}

input,
select,
option {
	@apply border-2 border-neutral-300 rounded-md p-1;
}

input:focus,
select:focus,
option:hover {
	@apply border-black;
}

.btn-primary {
	@apply bg-black text-white inline-flex gap-1 px-4 py-2 rounded-md justify-center;
}

.btn-danger {
	@apply bg-red-500 text-white inline-flex gap-1 px-4 py-2 rounded-md justify-center;
}

.btn-danger:hover {
	@apply bg-red-700;
}

.btn-normal {
	@apply bg-white text-lime-700 border-2 border-lime-700 inline-flex gap-1 px-4 py-2 rounded-md justify-center;
}

.table-basic thead {
	@apply bg-neutral-400/50 font-semibold text-center;
}

.table-basic tr td {
	@apply border-2 border-neutral-300 p-1;
}
